<%- include('../partials/nav') %>


<div>
  <%= currentUser.username %>
</div>
<div>
  <%= currentUser.firstName %>
</div>
<div>
  <%= currentUser.surname %>
</div>
<div>
  <%= currentUser.email %>
</div>


<div>
  <form action="/user/profile/update" method="GET">
    <button class="xxx" id="xxx" type="submit">Update</button>
  </form>
</div>
