<%- include('../partials/nav') %>


<div>
  <%= currentUser.username %>
</div>
<div>
  <%= currentUser.firstName %>
</div>
<div>
  <%= currentUser.surname %>
</div>
<div>
  <%= currentUser.email %>
</div>

