<%- include('../partials/nav') %>
<div id="footer">
  <h2>Trips I created</h2>
</div>
<div>
  <ul class="list-group list-group-flush">
    <% trips.forEach((trip) => { %>
      <li class="list-group" id="li-card">
        <div class="card" style="width: 21rem;">
          <img src="/img/ICE.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h3 class="card-title" id="card-text" ><%=trip.tripName%></h3>
          <h5 class="card-title" id="card-text" ><%=trip.tripCategory%></h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <textarea rows="3"><%= trip.duration %></textarea>
          </li>

          <li class="list-group-item">
            <textarea rows="3"><%= trip.description %></textarea>
          </li>
          <li class="list-group-item">
              <textarea rows="1"><%= trip.difficulty %></textarea>
            </li>
            <li class="list-group-item">
                <textarea rows="1"><%= trip.necessaryEquipment %></textarea>
              </li>
        </ul>
        </div>
        <div id="center-btn">
          <div>
            <form action="/user/created/<%= trip._id %>/update" method="GET">
              <button class="btn btn-warning" id="back" type="submit">Update</button>
            </form>
          </div>
          <div>
            <form action="/user/created/<%= trip._id %>/delete" method="POST">
              <button class="btn btn-danger" id="back" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </li>
    <% }) %>
  </ul>
</div>