<%- include('../partials/nav') %>

<div id="footer">
    <h2>Trips I joined:</h2>
</div>
<div>
    <ul class="list-group list-group-flush">
        <% user.tripJoined.forEach((trip) => { %>
            <li class="list-group" id="li-card">
                <div class="card" style="width: 21rem;">
                    <div class="black"><a href='/user/trips/<%= trip._id %>' style="width: 100%; height: 13rem"></a>
                    </div>
                    <a href='/user/trips/<%= trip._id %>'><img src="/img/<%=trip.tripCategory%>.jpg" class="card-img" alt="..."></a>
                    <div class="card-img-overlay">
                        <h3 class="card-title" id="card-text" ><%= trip.tripName %></h3>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>
</div>


  
      
         


