<%- include('../partials/nav') %>

<div id="footer">
    <h2>Tu trip <%= trip.tripName %></h2>
</div>
<div>
    <ul class="list-group list-group-flush">
        <li class="list-group" id="li-card">
          <div class="card" style="width: 21rem;">
            <div class="black">
            </div>
            <img src="/img/<%=trip.tripCategory%>.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title" id="card-text" ><%=trip.tripCategory%></h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6>Description:</h6>
              <textarea><%= trip.description %></textarea>
            </li>
            <li class="list-group-item">
              <h6>Difficulty:</h6>
              <p><%= trip.difficulty %></p>
            </li>
            <li class="list-group-item">
              <h6>Duration:</h6>
              <p><%= trip.duration %></p>
            </li>
            <li class="list-group-item">
              <h6>Necessary equipment:</h6>
             <p><%= trip.necessaryEquipment %></p>
            </li>
            <li class="list-group-item">
                <h6>Pet friendly:</h6>
               <p><%= trip.petfriendly %></p>
            </li>
            <li class="list-group-item">
                <h6>List of participants:</h6>
                <div>
                  <ul>
                    <% trip.listOfParticipants.forEach((participant) => { %>
                      <li>                  
                        <%= participant.username %> 
                      </li><% }) %>
                  </ul>
                </div>
            </li>
          </ul>
        </div>
        <form action="/user/trips/<%= trip._id %> " method="post">
          <button type="submit"class="btn btn-success" id="join">Join</button>
        </form>
      </li>
    </ul>
</div>


  

    